.innerbox2 {
    height: 80vh;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.innerbox2 .section1 {
    padding: 0px 100px;
}

.innerbox2 .section1 h1 {
    font-size: 40px;

}

.signup3content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

}

.innerbox2 .section1 .signup3content p {
    margin-bottom: 25px;
    color: rgb(0, 0, 0, 0.5);
    margin-top: 10px;
}

.signupbox {
    margin-top: 6px;
    padding: 10px;
    width: 100%;
    font-weight: 100;

}

.signupbox i {
    font-size: 1500px;
}

.signupbox p {
    color: rgb(0, 0, 0, 0.7);
    font-size: 15px;
}

.signup3btn {
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
}

.signup3divider::after,
.signup3divider::before {
    width: 30%;
}

.singup3lastcontent p {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.icon {
    font-size: 25px;
}

.innerbox2 .section2 {
    width: 50%;

    background-image: url("../../../assets/images/2.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}