@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Medium";
  src: local("AirbnbCerealMedium"),
    url("../app/font/SFPRODISPLAYBLACKITALIC.ttf") format("woff");
}
.Tiwtter:hover {
  color: #1DA1F2;
  transition: all 0.5 ease;
}

.Facebook:hover {
  color: #1877F2;
  transition: all 0.5 ease;
}
.header {
  transition: background-color 0.3s ease;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
box-shadow: -1px 16px 14px -8px rgba(218, 218, 218, 0.68)
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(92, 36, 252, 1) 0%, rgba(157, 122, 255, 1) 100%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, rgba(92, 36, 252, 1) 0%, rgba(157, 122, 255, 1) 100%);
}