@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: sans-serif;
}
.header {
  background-color: #ffffff;
  
}
.header nav {
  height: 10vh;
}


  .header nav ul li a {
    text-decoration: none;
    color: black;
}
.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav .leftside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 50%;

}

.header nav .rightside {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;


}

.header nav .leftside .logo {
  height: 45px;
  width: 45px;
  border-radius: 100px;
  background-color: rgb(0, 0, 0);
  margin-left: 50px;

}

.mainbox {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
    /* border: 1px solid black; */

}
.speeddialbox {
  background-color: #f1f1f1;
    width: 150px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.5);
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
}

.speeddialbox li {
  padding: 10px;
}

.speeddialbox a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.speeddialbox a {

  text-decoration: none;
}

.speeddialbox a:hover li {

  text-decoration: none;


}

.speeddialbox a li:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
  list-style: none;

}
.date-selection {
  display: flex;
  gap: 10px;
  width: 100%;
}

.date-selection div {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.date-selection label {
  margin-bottom: 5px;

}


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 40px 10px 10px;
  border-radius: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  font-size: 16px;
    line-height: 1.5;
    color: #333;
    outline: none;
    /* Remove outline on focus */
}


.custom-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-select::-ms-expand {
  display: none;
}