.signup5box {
    background-image: url('../../../assets/images/1.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}
.signup-button:hover {
    transform: scale(0.8);
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.2);
}
.signup5box .section1 {
    gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    height: auto;
    width: 25%;
    background-color: aliceblue;
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 80px 20px;
    border-radius: 30px;
        box-shadow: 1px 1px 30px 1px rgb(0, 0, 0, 0.2);
        display: none;
    }
    
    .signup5box .section1 h1 {
        font-size: 30px;
        font-weight: 600;
        position: relative;
    }
    
    .signup5box .close {
        position: absolute;
        content: "*";
        height: 100px;
        width: 50px;
    }
    
    .signup5box .section1 h2 {
        color: rgb(0, 0, 0, 0.5);
        font-size: large;
        margin-top: 0;
    }
    
    .signup5box input {
        margin-top: 20px;
        padding: 15px;
        width: 80%;
        border: 1px solid rgb(0, 0, 0, 0.5);
        border-radius: 10px;
        background-color: transparent;
        font-size: 15px;
    }
    
    .signup5box .section1 button {
        margin-top: 10px;
        padding: 15px;
        width: 80%;
        border: none;
        border-radius: 50px;
        color: white;
        font-size: medium;
        font-weight: 600;
        background-color: rgb(0, 0, 0, 0.3);
    }
    
    .ortag {
        position: relative;
        padding: 15px 20px;
        color: rgb(0, 0, 0, 0.6);
    }
    
    .signup5box .ortag::before,
    .signup5box .ortag::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 2px;
        width: 6rem;
        background-color: rgb(0, 0, 0, 0.3);
    }
    
    .signup5box .ortag::after {
        left: 100%;
    }
    
    .signup5box .ortag::before {
        right: 100%;
    }
    
    .signup5box .signupbox {
        padding: 5px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
    
        border: 1px solid rgb(0, 0, 0, 0.5);
}

.signup5box .signupbox p {
    margin-left: 10px;
    font-size: large;
    font-weight: 500;
}

.signup5box .section2 {
    width: 50%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.signup5box .section2 h1 {
    font-weight: 700;
    font-size: 45px;
    margin-top: 150px;
}

.signup5box .section2 p {
    width: 70%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

.signup5box .section2 button {
    margin-top: 25px;
    padding: 15px;
    width: 25%;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: medium;
    background-color: rgb(0, 0, 0);
    position: relative;
        font-weight: 500;
}

.rightside .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.rightside .search-item {
    width: 30%;
}

.rightside .search-item input {
    width: 100%;
    font-size: large;
    border-radius: 100px;
    background-color: rgb(0, 0, 0, 0.1);
    border: 1px solid rgb(0, 0, 0, 0.3);

}

.rightside .language-selector {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.rightside .language-selector select {
    background-color: transparent;
    border: none;
}


.rightside .signup-button {
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-right: 30px;
    border-radius: 10px;
}