@media screen and (max-width: 991px) {
    html {
        font-size: 0.44rem;
    }

    .menu {
        display: block;
    }

    nav {
        padding: 0%;
    }

    nav ul {
        display: none;
    }


}