* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
    font-size: 10px;
}

::selection {
    color: white;
    background: #66BB69;
}

/* navbar css */
nav {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 25px;
    position: sticky;
    top: 0;
}

.logo {
    margin-left: 10%;
    width: 3rem;
}

button {
    font-size: 1.5rem;
    background-color: #4CAF4F;
    width: auto;
    height: auto;
    padding: 1.5rem 3rem;
    gap: 5.57px;
    border-radius: 5px;

    color: white;
    border: #4CAF4F;
    font-family: inter;
    font-weight: 600;
}


nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
    gap: 20px;

}

nav ul li {
    list-style: none;
    font-weight: 700;
    padding: 10px;
    color: #4D4D4D;
    font-size: 1.6rem;
}

nav ul li:hover {
    color: #237D31;
    cursor: pointer;
}

nav ul button i {
    margin-left: 5px;
    font-size: 15px;
}

nav ul button:hover {
    background-color: #388E3B;
}

nav ul button:active {
    background-color: #237D31;
}

/* slider css */
.sliderbox {
    background-color: #F5F7FA;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem;
    gap: 20rem;
}



.slidecontent p {
    margin-top: 2rem;
    color: #717171;
    font-family: inter;
    font-size: 2rem;
}

.slidecontent button {
    margin-top: 2rem;
}


.slidecontent button:hover {
    background-color: #388E3B;
}

.slidecontent button:active {
    background-color: #237D31;
}

.slideimg img {
    max-height: 500px;
    height: 50rem;
}

.sliderbox h1 {
    font-size: 8rem;
    color: #4D4D4D;
}

.sliderbox .title2 {
    color: #4CAF4F;
}


/* clients css */
.clientbox {
    width: 100%;
    background-color: #ffffff;
    padding: 5rem;
}

.clientbox .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientbox .content h1 {
    color: #4D4D4D;
    font-size: 5rem;
}

.clientbox .content p {
    color: #717171;
    font-size: 2rem;
    margin-top: 1.5rem
}

.clientlogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
        flex-wrap: wrap;
            gap: 1rem;
}

.clientlogo img {
    transition: ease-in-out 0.3s;
    padding: 1rem;
    height: 100px;
        width: 100px;
}

.clientlogo img:hover {
    background-color: #4CAF4F;
    border-radius: 10px;
    transform: rotate(60deg);
}

/* manage css */

.managebox {
    width: 100%;
    background-color: #ffffff;
    padding: 5rem;
}

.managebox .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.managebox .content h1 {
    color: #4D4D4D;
    font-size: 5rem;
}



.managebox .content p {
    color: #717171;
    font-size: 2rem;
    margin-top: 1.5rem
}

.managebox .section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
        flex-wrap: wrap;
        gap: 50px;
}

.managebox .maninnerbox {

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 5px 12px 1px rgba(128, 128, 128, 0.08)
}

.managebox .maninnerbox:hover {
    background: #4CAF4F;
    margin-top: -35px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    box-shadow: 0px 14px 15px -6px rgba(144, 144, 144, 1)
}

.maninnerbox img {
    height: 80px;
    margin-bottom: 30px;


}

.maninnerbox h1 {
    color: #4D4D4D;
    font-size: 3rem;

}

.maninnerbox p {
    color: #717171;
    font-size: 1.8rem;
    margin-top: 1.5rem
}

.managebox .maninnerbox:hover p,
.managebox .maninnerbox p:hover {
    color: white;
}

/* comanbox css */
.comanbox {
    width: 100%;
    padding: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.comanbox .sectionimg {
    width: 40%;
    display: flex;
    justify-content: center;


}

.comanbox .sectionimg img {
    height: 60rem;
        width: auto;
}

.comanbox .sectioncontent {
    width: 40%;

}

.comanbox .sectioncontent button:hover {
    background-color: #388E3B;
}

.comanbox .sectioncontent button:active {
    background-color: #237D31;
}

.comanbox .sectioncontent h1 {
    color: #4D4D4D;
    font-size: 4rem;
}

.comanbox .sectioncontent p {
    color: #717171;
    font-size: 1.8rem;
    margin-top: 2rem
}

.comanbox .sectioncontent button {

    margin-top: 2rem
}

/* ///help css*/
.helpbox {
    padding: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
        flex-wrap: wrap;
    background-color: #F5F7FA;
}

.helpbox .content .title2 {
    color: #4CAF4F;
}

.helpbox h1 {
    color: #4D4D4D;
    font-size: 3rem;
}

.helpbox .content p {
    color: #717171;
    font-size: 1.8rem;
    margin-top: 1.5rem
}


.showhelpbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.showhelpbox p {
    color: #717171;
    font-size: 1.6rem;
    margin-top: 5px;

}


.showhelpbox section {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.helpsmallbox {
    display: flex;
    justify-content: baseline;
    align-items: center;

}

.helpsmallbox img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

/* timbox */
.timbox {
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6rem;
    flex-wrap: wrap;
        /* Allow flex items to wrap */
}

.timbox .section1 {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    }



.timbox .section1 img {
height: 50rem;
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
    width: 50rem;
}
.timbox .section2 {
    width: 60%;
        padding-left: 2rem;
    
        display: flex;
        flex-direction: column;
}

.timbox .section2 p {
    color: #89939E;
    font-size: 1.8rem;
    margin-top: 15px;
    line-height: 2.5rem;
    
        /* Adjust line height */
}

.timbox .section2 h6 {
    color: #717171;
    font-size: 1.8rem;
    line-height: 3rem;
        width: 85%;
        /* Adjust line height */
}

.timbox .section2 .timtitle {
    color: #4CAF4F;
    font-size: 2.3rem;
    margin-top: 1rem;
}

.timclientlogo {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    
        flex-wrap: wrap;
        align-items: center
    }
    
    .timclientlogo img {
        height: 7rem;
        margin-right: 3rem;
}

.timclientlogo h2 {
    color: #4CAF4F;
    text-align: center;
    font-size: 2rem;
        margin-top: 1rem;
        /* Adjust spacing */
}

.timclientlogo h2 i {
    margin-top: 0.5rem;
        margin-left: 1rem;
        font-size: 2rem;
    font-weight: 900;
    color: #4CAF4F;
}

/* markatingbox */
.markatingbox {
    width: 100%;
    padding: 6rem;


}

.markatingbox .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

}

.markatingbox h1 {
    color: #4D4D4D;
    font-size: 4rem;

}

.markatingbox p {
    color: #717171;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    width: 40%;
    text-align: center;
    line-height: 2.5rem;
}

.markatingbox .section2 {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    margin-bottom: 50px;
        flex-wrap: wrap;
        gap: 10rem;

}

.markatingbox .section2 .boxitem {
    height: 35rem;
        width: 45rem;
    border-radius: 10px;
    position: relative;
}


.markatingbox .section2 .boxinneritem {
    height: 20rem;
        width: 33rem;
        padding: 2.5rem;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    bottom: -20%;
    left: 13%;
    z-index: 5;
    background-color: #F5F7FA;
    box-shadow: -1px 7px 14px 0px rgba(171, 190, 209, 1)
}

.markatingbox .section2 .boxitem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0);
    /* Transparent initially */
    transition: background-color 0.3s ease-in-out;
    /
}

.markatingbox .section2 .boxitem:hover img {
    transform: scale(1.05);
    margin-top: 1.5rem;
    /* Move image down slightly on hover */
}

.markatingbox .section2 .boxitem:hover .boxinneritem {
    bottom: 1%;
    margin-top: 1px;
    transition: 0.5s;
    /* Move inner content down slightly on hover */
}

.markatingbox .section2 .boxitem img {
    height: 100%;
    width: 100%;

}


.markatingbox .section2 .boxinneritem h2 {
    color: #717171;
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
}

.markatingbox .section2 .boxinneritem h3 {
    color: #4CAF4F;
    font-size: 2.2rem;
    margin-top: 20px;
    text-align: center;
}

.markatingbox .section2 .boxinneritem h3 i {
    margin-left: 1rem;
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: #4CAF4F;
}

/* //mobile navbar */
.menu {
    position: relative;
    display: inline-block;
    width: 44px;
    padding: 0.5rem;
    height: 45px;
    margin: 2.5rem;
    display: none;
    margin-left: auto;
}

.menu span {
    margin: 0 auto;
    position: relative;
    top: 1.2rem;
}

.menu span:before,
.menu span:after {
    position: absolute;
    content: '';
}

.menu span,
.menu span:before,
.menu span:after {
    width: 30px;
    height: 6px;
    background-color: #000;
    display: block;
}

.menu span:before {
    margin-top: -12px;
}

.menu span:after {
    margin-top: 12px;
}

.example5 span {
    transition-duration: 0s;
    transition-delay: 0.2s;
}

.example5:hover span {
    background-color: rgba(0, 0, 0, 0.0);
    transition-delay: 0.2s;
}

.example5 span:before {
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
}

.example5:hover span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s;
}

.example5 span:after {
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
}

.example5:hover span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s;
}